/*seletor: seleciona um id/classe + tipo[p,h1, etc].
Pode ser seletor de tipo id, tipo classe, classe, id, id e classe.
Duas classes podem ser aplicaadas ao mesmo tempo
*/

#titulo {
  color: green;
  text-align: center;
}

p#descricao {
  color: blue;
}

p.promocao {
  text-align: center;
  background-color: lightgreen;
}

h1.promocao{
    color:yellow;
}

.nova{
    color:white;
}

p#rodape.final-pagina{
    background-color: lightblue;
    text-align: center;
}
/*
PARA EVITAR ESSE TIPO DE REPETIÇÃO: agrupador de seletores. Nem sempre é a melhor estratégia.
.curso{
    background-color: aliceblue;
}
.curso-novo{
    background-color: aliceblue;
    color: red;
}
*/
.curso, .novo-curso, #contato{
    background-color: aliceblue;
    padding: 12px;
    border: 3px solid lightgrey}

.novo-curso{
    color:red;
}

/* 
a b {} filho descendente
a >b {} filho direto
*/
