header {
    background-color: orange;
    display: flex;
    justify-content: space-around;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    align-items: center;
    color: blue;;
    padding-top: 10px;
    font-weight: bold;
}

#left{
    border-left: 2px blue solid;
    border-bottom: 2px blue solid;
    border-bottom-left-radius: 30px;
    width: 25%;
    text-align: left;
    padding-left: 30px;
    margin-bottom: 10px;
}
#middle{
    border-bottom: 2px blue solid;
    text-align: center;
    width: 25%;
    margin-bottom: 10px;

}
#right{
    padding-right: 25px;
    width: 25%;
    text-align: end;
    border-right: 2px blue solid;
    border-bottom: 2px blue solid;
    border-bottom-right-radius: 30px;
    margin-bottom: 10px;
}