ul{
    height: 300px;
    width: 200px;
    margin: 10px;
    display: inline-block;
}



.red-class {
    background-color: red;
}

.yellow-class {
    background-color: yellow;
}

.pink-class {
    background-color: pink;
}
