html{
    background-color: deepskyblue ;
}

body{
    background-color: aliceblue;
}
p{
    margin-left: 10%;
    margin-right: 10%;
    line-height: 50%;
    
}
.first{

}
.middle{

}

.last{
    
}