/*seletor universal, especificidade zero*/
* {
  /*medidas padding bar passam a fazer parte dos 300px*/
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  /*bom deixar em % pq o usuário pode mudar o tamanho da fonte nas conf. do navegador e pq dependendo do tamanha do tela a letra pode ficar muito grande ou muito pequena*/
  font-size: 14px;
}

header {
  height: 80px;
  border-bottom: 1px solid rgb(0, 0, 0);
}

header  img {
  margin-top: 10px;
}


.container {
  /* esse é um layout fixo. 
  width: 1200px.
#rever se falta algo
  ** esse layout agora é fluido: ocupa a tela inteira
  */

  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
  
  
  /* centralizar*/
  margin: 0 auto;
  padding-left: 16px ;
  padding-right: 16px;
}

#vagas{
  padding: 80px;

}
#vagas ::after{
  content: '';
  display: block;
  clear: both;
  /* isso vai servir para limpar o efeito float ao final de article.*/
}
article{
    padding-bottom: 12px;
    border: 1px solid #2196F3;
    width: 380px;
    /*não adianta mudar a porcentagem: sempre vai ser x% de 1168px (borda container)
    Para isso, vou usar fluid layout*/
    float: left;
    margin-right: 8px;
    /* o float vai desempilhar e colocar alinhado*/
}

/*isso é uma media query*/
@media(min-width:900px){
  article{
    
    width: 30%;
    float: left;
    margin-right: 8px;
    
  }

}

article > h2{
    background-color: #2196F3;
    color: white;
    line-height: 3; /* 3x a altura da fonte*/
    margin-top: 0;
    font-size: 24px;
    font-weight: normal;
    text-align: center;
    
}

article>div{
  list-style: none;
  text-align: center;
  padding:0%;
  margin: 20px 0;
  /* 20px 0, o 0 é pra q? // padding 0? qual o padrão? */

}

article > ul{
  list-style: none;
  padding: 0;
  margin: 20px 0;
}
article > ul >li{
  text-align: center;
}
article > footer{
  text-align: center;
  
}

.botao{
  display: inline-block;
  background-color: #1976D2;
  padding: 12px 16px;
  text-decoration: none;
  color: white;

}
/*pseudoclasse, obs: usar 1 ':', não 2, como seria no pseudo elemento*/
.botao:hover{
  background-color: #0d47a1;

}