.flex-container {
    display: flex;
    justify-content: space-between;
    border-style: solid;
    border-width: 4px;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
    padding: 10px;
    background-color: chocolate;
}

main {
    vertical-align: top;
}

.flex-container-2 {
    display: flex;
}

.tabela {
    flex-direction: column;
    border-style: solid;
    border-width: 3px red;
    width: 40%;
    margin: 2.4%;

}

.tabela>p#normal {

    border-top: solid black 3px;
}

.tabela>p#bottom {

    border-top: solid black 3px;
}

.fotos-container {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
    border: 3px red solid;
    border-radius: 10px;
    justify-content: space-around;


}

img {
    margin-bottom: 10px;
    margin-top: 10px;
    border: solid red;
    border-style: dashed;
}